<!DOCTYPE html>
{% extends "users_app/base.html" %}
{% block body_block %}
    <a href="{% url 'index' %}"></a>
    <a href="{% url 'admin:index' %}"></a>
    {% if registered == True %}
        <h1>thank-you for registering</h1>
    {% else %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}                        
            <input type="submit" value="submit">
        </form>
    {% endif %}
{% endblock %}